streamlit
pandas
numpy
scikit-learn>=1.3.0,<1.4.0 # For consistent model pickling
setfit
sentence-transformers
duckdb
google-cloud-storage
gcsfs
pyarrow>=14.0.0,<15.0.0 # For consistent dataframe representation
streamlit
streamlit-extras
st-pages
openpyxl
rocketry
pydantic<2 # rocketry bug
python-dotenv
plotly_calplot
xlsxwriter
# Dev optional
watchdog
black