--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers
setfit
scikit-learn>=1.4.0,<1.5.0 # For consistent model pickling
streamlit
pandas
numpy
httpx
beautifulsoup4
duckdb
google-cloud-storage
gcsfs
pyarrow>=14.0.0,<15.0.0 # For consistent dataframe representation
streamlit-extras
st-pages
openpyxl
python-dotenv
xlsxwriter
# Dev optional
watchdog
ruff