top2vec
streamlit-aggrid
matplotlib
streamlit
numpy
pandas
pyarrow
openpyxl
scikit-learn==1.1.3
transformers
sentence-transformers
faiss-cpu
gensim
nltk
pre-commit
nbqa
black
flake8
isort
pip
xlsxwriter
bs4
requests
wordcloud
lxml
plotly