streamlit
pandas<2 # st-aggrid bug
numpy
scikit-learn>=1.2.2,<1.3.0 # For consistent model pickling
setfit
sentence-transformers
duckdb
pyarrow>=12.0.0,<13.0.0 # For consistent dataframe representation
streamlit
streamlit-aggrid==0.3.3 # st-aggrid bug
streamlit-extras
openpyxl
rocketry
pydantic<2 # rocketry bug
# Dev optional
watchdog
black